@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@300;400;900&display=swap');
        
        body {
            background-color: rgb(255, 247, 238);
        
        }

        .topspace {
            height: 3vw;
        }
        img {
            height: 150vw;
            position: absolute;
            margin-top: -1.7vw;
            margin-left: 75vw;
            
        }
        

        hr {
            margin-right: 22vw;
            margin-top: 3vw;
            margin-bottom: 3vw;
            width: 73%;
            height: 0.1vw;
        }
        h1 {
            font-family: 'Anton', sans-serif;
            margin-left: 3vw;
            margin-right: 2vw;
            font-size: 7vw;
            display: inline;
            font-style: italic;
            

        }
        h2 {
            font-family: 'Anton', sans-serif;
            margin-left: 3vw;
            font-size: 6vw;
            display: inline;
            font-style: italic;
        }
        .subtitel {
            font-family: 'Roboto Slab', serif;
            display: inline;
            font-size: 2vw;
            font-weight: 400;
        }
        ul {
            display: inline;
        }

        li {
            font-family: 'Roboto Slab', serif;
            font-size: 2.5vw;
            margin-left: 1vw;
            margin-bottom: -3.5vw;
            margin-top: 1vw;
            padding: 2vw;
            list-style-type: none;
            font-weight: 900;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .numb{
            font-family: 'Roboto Slab', serif;
            font-size: 2.5vw;
            display: inline;
            color: rgb(10, 127, 10);
            font-size: 2.5vw;
            margin-right: 3vw;
            font-weight: 900;
        }

        .sub {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 8.5vw;
            margin-bottom: -1vw;
            font-size: 1.5vw;
            display: block;
        }

        .rev {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5vw;
            margin-left: 3vw;;
        }

        .boldrev {
            font-family: 'Roboto Slab', serif;
            display: inline;
            font-weight: 900;

        }

        .numbrev {
            color: purple;
            font-family: 'Roboto Slab', serif;
            display: inline;
            font-weight: bolder;
        }
    
        .numbbot {
            color: rgb(10, 127, 10);
            font-family: 'Roboto Slab', serif;
            display: inline;
            font-weight: 900;
        }