@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@300;400;900&display=swap');

body {
    background-color: rgb(255, 247, 238);
}

hr {
    margin-right: 3vw;
    margin-top: 8vw;
    margin-bottom: 5vw;
    width: 90vw;
    height: 0.1vw
}

.quote {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 4vw;
    font-style: italic;
}

div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 4vw;
    margin-right: 3vw;
    column-count: 3;
    column-gap: 3vw;
}

.drop::first-letter {
    initial-letter: 3;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 900;
}
h1 {
    margin-left: 4vw;
    margin-top: -3vw;
    margin-bottom: 0vw;
    font-family: 'Anton', sans-serif;
    font-size: 16vw;

}
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2vw;

    margin-top: -3vw;
    margin-left: 8vw;
}
h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2vw;

    margin-top: -1.5vw;
    margin-left: 11vw;

}

.side {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 80vw;
    margin-top: -0.2vw;
    width: 11.5vw;
    position: absolute;
}

.sidebottom {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 64.6vw;
    margin-top: -3.4vw;
    width: 28vw;
    position: absolute;
}
.sidebottom2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 70vw;
    margin-top: 26.8vw;
    width: 23.4vw;
    position: absolute;
}
.sidebottom3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 72vw;
    margin-top: 32.5vw;
    width: 20vw;
    position: absolute;
}
.sidebottom4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 75vw;
    margin-top: 38vw;
    width: 18vw;
    position: absolute;
}
.sidebottom5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin-left: 70vw;
    margin-top: 49vw;
    width: 25vw;
    position: absolute;
}

.image1 {
    width: 15vw;
    position: absolute;
    margin-left: 64.5vw;
    margin-top: 1vw;
    display: block;
}

.names{
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    font-size: 1.8vw;
    margin-left: 40.5vw;
    margin-bottom: 0vw;

}

.names2{
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    font-size: 1.8vw;
    margin-left: 49vw;
    margin-top: 0vw;
}

.image2 {
    position: absolute;
    width: 71vw;
    margin-left: 3vw;
    margin-top: 1.5vw;

}
